@import url('https://fonts.googleapis.com/css2?family=Amarna:ital,wght@0,100..700;1,100..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Poppins", serif;
}

html {
  scroll-behavior: smooth;
}
